@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800;900&family=Rancho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",san-serif;
    margin: 0;
 }
 :root{
    --main-color:#094b65;

 }
body{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
    scroll-behavior: smooth;

}


/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5% 10%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,var(--main-color),transparent);
    z-index: -1;
}

.logo{
    font-size: 2em;
    padding: 10px;
    margin-left: 15px;
    font-weight: 700;
    text-decoration: none;
    color: var(--main-color);
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#link li{
    position: relative;
    display: inline-block;
    padding: 2px 4px;
    font-size: 1em;
    margin-left: 20px;
}
#link li a{
    text-decoration: none;
    color: #094b65;
    padding: 6px 15px;
    transition: all 0.3s;
}
#link li a:hover,
#link li a.active
{
    background: #094b65;
    border-radius: 40px;
    color: #fff;
}
/* ------------------------------- End Header ------------------------------- */


/* -------------------------------------------------------------------------- */
/*                   section middle text and forest ,bird,rock                */
/* -----------------------------------------------------------------'--------- */
section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    /* background-color: rgb(151, 142, 142); */
    font-size: 1.4em;
    color: var(--main-color);

}
section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,var(--main-color),transparent);
    z-index: 10;
}
section #text{
    position: absolute;
    display: inline-block;
    font-size: 7vw;
    text-align: center;
    font-family: 'Rancho',cursive;
    line-height: 0.55em;
    transform: translateY(-70%);
}
section #text span{
    display: inline-block;
    font-size: 0.2em;
    letter-spacing: 2px;
}
#btn{
    position: absolute;
    transform: translateY(80px);
    border-radius: 40px;
    background: #ff0;
    padding: 12px 15px;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
}
#btn:hover{
    background:#fff;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100vh; */
    object-fit: cover;
    pointer-events: none;
}
/* ------------------ End section middle text and forest ,bird,rock  ----------------- */


/* -------------------------------------------------------------------------- */
/*                         section parallax scrolling                         */
/* -------------------------------------------------------------------------- */
.sec{
    position: relative;
    padding: 100px;
    color: #fff;
    background: var(--main-color);
}
.sec h2{
    font-size: 3em;
    margin-bottom: 10px;
}
.sec p{
    font-size: 1em;
}

/* --------------------- End section parallax scrolling --------------------- */




















